(
    spritesheet_width: 256,
    spritesheet_height: 256,
    sprites: [
        (
            x: 1,
            y: 1,
            width: 48,
            height: 48,
        ),
        (
            x: 51,
            y: 1,
            width: 48,
            height: 48,
        ),
        (
            x: 101,
            y: 1,
            width: 48,
            height: 48,
        ),
        (
            x: 151,
            y: 1,
            width: 48,
            height: 48,
        ),
    ],
)
